<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href="/">TAB on chaplin.js</a>

    <ul>
        <li><a href="/graphics">Graphics</a></li>
        <li><a href="/illustration">Illustration</a></li>
        <li><a href="/painting">Painting</a></li>
    </ul>
</div>